%ul.nav#global_nav

  %li
    = link_to t("navigation.global.home")
  %li.current
    = link_to t("navigation.global.sings_of_life_radio")
  %li
    = link_to t("navigation.global.events")
  %li
    = link_to t("navigation.global.fff_store")
  %li
    = link_to t("navigation.global.volunteers")
  %li
    = link_to t("navigation.global.contributers")

