%ul.nav#site_nav
  %li
    = link_to t("navigation.site.adg_registration")
  %li.current
    = link_to t("navigation.site.certified_mediums")
  %li
    = link_to t("navigation.site.signs_of_life_newsletter")
  %li
    = link_to t("navigation.site.after_life_science")
  %li
    = link_to t("navigation.site.grief_and_loss")
  %li
    = link_to t("navigation.site.support_and_information")
  %li
    = link_to t("navigation.site.calendar_of_events")
  %li
    = link_to t("navigation.site.registration")
