= render 'layouts/header'

%body
  #container
    #layout
      #header
        %h1
          = t("site_name")

      #top_nav
        = render "shared/nav"

      #sidebar
        %ul
          %li Lorem ipsum
          %li dolor sit amet
          %li consectetur adipisicing
          %li elit.

      #content
        %p.notice
          = notice
        %p.alert
          = alert

        %h2= @cms_page.title
        = textilize @cms_page.body
        = yield

      #footer_spacer
    = render 'layouts/footer'